/* ============================================
   TRANSITION SYSTEM
   ============================================ */

:root {
  --transition-fast: 150ms ease-in-out;
  --transition-base: 250ms ease-in-out;
  --transition-slow: 350ms ease-in-out;
}


