/* ============================================
   Z-INDEX SYSTEM
   ============================================ */

:root {
  --z-dropdown: 1000;
  --z-sticky: 1020;
  --z-fixed: 1030;
  --z-modal: 1040;
}


